<configuration>
    <!-- Properties -->
    <property name="LOG_DIR" value="/data/data/pl.edu.agh.eis.poirecommender/log"/>
    <property name="MSG_PATTERN" value="%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %class - %msg%n"/>
    
    <!-- Appenders -->

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="full" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/full.log</file>
        <encoder>
            <pattern>${MSG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/full-%d{dd.MM}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <encoder>
            <pattern>${MSG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/app-%d{dd.MM}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="gui" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/gui.log</file>
        <encoder>
            <pattern>${MSG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/gui-%d{dd.MM}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Loggers -->

    <logger name="pl.edu.agh.eis.poirecommender.application" additivity="false">
        <appender-ref ref="gui"/>
        <appender-ref ref="full"/>
        <appender-ref ref="logcat"/>
    </logger>

    <logger name="pl.edu.agh.eis.poirecommender" level="DEBUG">
        <appender-ref ref="app"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="full" />
        <appender-ref ref="logcat"/>
    </root>
</configuration>