<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="pl.edu.agh.eis.poirecommender" >

    <!--suppress AndroidDomInspection -->
    <uses-permission tools:node="removeAll"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA"/>
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA"/>
    <uses-permission android:name="com.aware.context.provider.context.READ"/>
    <uses-permission android:name="com.aware.poirecommender.MANAGE_POIRECOMMENDER_DATA"/>
    <uses-permission android:name="com.aware.poirecommender.provider.poirecommender.READ"/>

    <uses-feature tools:node="removeAll"/>
    
    <!--suppress AndroidDomInspection -->
    <permission tools:node="removeAll"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:node="replace">

        <activity
                android:name=".application.main.MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>

        <service
            android:name=".service.RecommenderService"
            android:exported="false" />

        <service
            android:name=".aware.AwareContextObservingService"
            android:exported="false"/>

        <receiver
            android:name=".receiver.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
